[Unit]
Description = Talkiepi
Requires = systemd-user-sessions.service network.target sound.target
Wants = network-online.target
After = systemd-user-sessions.service network.target network-online.target sound.target

[Service]
Type = simple
ExecStart = /usr/local/bin/node /home/pi/node-talkiepi/index.js
Restart = on-failure
RestartSec = 10

[Install]
WantedBy = multi-user.target
